<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

	  <a class="sidebar-nav-item" href="https://www.researchgate.net/profile/Shogo_Matsuno">Research Gate</a>
	  <a class="sidebar-nav-item" href="http://dblp2.uni-trier.de/pers/hd/m/Matsuno:Shogo">dblp</a>
	  <a class="sidebar-nav-item" href="https://scholar.google.co.jp/citations?user=NWHvR3YAAAAJ&hl=ja&oi=ao">Google Scholar</a>
	  <a class="sidebar-nav-item" href="{{ #### }}">GitHub project</a>
	  
	   <div class="social-link">
        {% if site.author.github %}
          <p class="social-link__item">
            <a href="https://github.com/{{ site.author.github }}"><i class="fa fa-github"></i></a>
          </p>
        {% endif %}
        {% if site.author.twitter %}
          <p class="social-link__item">
            <a href="https://twitter.com/{{ site.author.twitter }}"><i class="fa fa-twitter"></i></a>
          </p>
        {% endif %}
      </div>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved. Copyright (c) 2013 Mark Otto.</p>
  </div>
</div>
